.top {
  background-color: white;
  box-shadow: 0 4px 2px -2px gray;
  position: fixed;
  top: -0.3125rem;
  z-index: 9999;
  width: 100%;
}
.top .container .navbar {
  box-shadow: #001f3f;
}
.top .container .navbar .nav-section-one {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  font-size: 12px;
  border-bottom: 0.5px solid;
  text-align: right;
}
.top .container .navbar .nav-section-two {
  display: flex;
  width: 100%;
}
.top .container .navbar .nav-section-two .link {
  display: flex;
  width: 100%;
  font-size: 12px;
  margin: 27px;
}
.top .container .navbar .nav-section-two .btn-enquire .btn {
  border-radius: 0px;
  margin: 15px 0px 0px 0px;
  width: 150px;
  height: 45px;
  background-color: black;
  box-shadow: black;
  border: black;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 1px;
}
.top .container .navbar .nav-section-two .btn-enquire .btn:hover {
  color: #001f3f;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.thumbnail {
  display: inline-flex;
  overflow: hidden;
  min-height: 90vh;
}
.thumbnail .link-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 15px;
}
.thumbnail .link-thumbnail .head-caps {
  color: #262633;
  text-orientation: mixed;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-top: 3rem;
  text-decoration: none;
  font-family: Raleway-SemiBold, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
}
.thumbnail .main-thumbnail .main-img {
  padding: 290px 0px 0px 200px;
}
.thumbnail .main-thumbnail .main-img .vid-background {
  height: auto;
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-45%, -56%);
}
.thumbnail .main-thumbnail .main-img h1 {
  font-size: 128px;
  line-height: 128px;
  font-weight: bold;
  color: white;
  z-index: 10;
  position: relative;
  font-family: PlayfairDisplay-Bold, serif;
}
.thumbnail .main-thumbnail .main-img .body-normal {
  font-size: 28px;
  font-weight: 300;
  font-family: Raleway-Regular, sans-serif;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-transform: none;
  color: white;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.55);
  position: relative;
  z-index: 9;
}

.main-section {
  padding: 12em 0em 0em 8em;
}
.main-section .section-one {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-section .section-one .second-text {
  font-size: 0.75rem;
  font-weight: 520;
  font-family: Raleway-SemiBold, sans-serif;
  line-height: 1.25rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  width: 30%;
  padding-left: 2em;
}
.main-section .section-one .primary-section {
  font-family: PlayfairDisplay-Bold, serif;
  display: inline-block;
  padding: 0px 1.5rem 0px 1.5rem;
  max-width: 62rem;
  font-size: 8.125rem;
  line-height: 8.125rem;
  letter-spacing: -0.03em;
  font-weight: bold;
}
.main-section .section-one .section-container {
  position: relative;
  top: -3.25rem;
  left: -8rem;
  z-index: -1;
  background: rgba(220, 220, 221, 0.3);
  max-width: 80vw;
  padding: 96px 0px 0px 182px;
}
.main-section .section-one .section-container .section-body {
  width: 73%;
  padding: 0.25rem 1rem 1rem 4.5rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: Raleway-Regular, sans-serif;
  word-spacing: 1px;
}
.main-section .section-one .section-container .intro-section {
  width: 37.25rem;
  padding: 0.25rem 1rem 6.25rem 4.5rem;
  font-family: PlayfairDisplay-Regular, serif;
  font-size: 2.5625rem;
  font-weight: 200;
  letter-spacing: -0.03em;
}

.main-map {
  background: 0 0;
  position: relative;
  max-width: 100%;
  margin-top: 100px;
}
.main-map .map-text {
  width: 77%;
  margin: 0 12.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-map .map-text .res-heading {
  max-width: 720px;
}
.main-map .map-text .res-heading .head-caption {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.main-map .map-text .res-heading h3 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: PlayfairDisplay-Bold, serif;
  font-weight: bold;
}
.main-map .map-text .res-copy {
  max-width: 497px;
}
.main-map .map-text .res-copy .body {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 200;
  font-family: Raleway-Regular, sans-serif;
  margin-bottom: 2rem;
  color: #262633;
}
.main-map .map-map {
  margin: 65px 12rem;
  display: flex;
  flex-direction: row;
}
.main-map .map-map .container-left {
  width: 100%;
  max-width: 440px;
}
.main-map .map-map .container-left .content {
  margin-top: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main-map .map-map .container-left .content .content-lodges {
  margin-bottom: 10px;
}
.main-map .map-map .container-left .content .content-lodges .text-lodges {
  font-family: Raleway-SemiBold, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.main-map .map-map .container-left .content .content-lodges .text-lodges .icon {
  background: #cb933c;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 2.45612px 6.14029px rgba(0, 0, 0, 0.45);
  vertical-align: middle;
  margin-right: 10px;
}
.main-map .map-map .container-left .content .content-hotels {
  margin-bottom: 10px;
}
.main-map .map-map .container-left .content .content-hotels .text-hotels {
  font-family: Raleway-SemiBold, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.main-map .map-map .container-left .content .content-hotels .text-hotels .icon {
  background: #78b0ae;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 2.45612px 6.14029px rgba(0, 0, 0, 0.45);
  vertical-align: middle;
  margin-right: 10px;
}
.main-map .map-map .container-left .content .content-residences {
  margin-bottom: 10px;
}
.main-map .map-map .container-left .content .content-residences .text-residences {
  font-family: Raleway-SemiBold, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.main-map .map-map .container-left .content .content-residences .text-residences .icon {
  background: #999;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 0 2.45612px 6.14029px rgba(0, 0, 0, 0.45);
  vertical-align: middle;
  margin-right: 10px;
}
.main-map .map-map .container-right {
  width: 100%;
}
.main-map .map-map .container-right .interactive-map {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.main-map .map-map .container-right .interactive-map .inter-map {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-one {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 24%;
  top: 84.2%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-one .tooltip {
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-one .pin-icon-one {
  background-image: url("/img/pin-1.svg");
  background-size: 100%;
  transform: scale(1) rotate(12deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-two {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 30.7%;
  top: 81.2%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-two .tooltip {
  left: 45px;
  top: -5px;
  background-color: #999;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-two .pin-icon-two {
  background-image: url("/img/pin-1.svg");
  background-size: 100%;
  transform: scale(1) rotate(0);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-three {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 57.9%;
  top: 7.9%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-three .tooltip {
  left: 60px;
  top: 0px;
  background-color: #78b0ae;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-three .pin-icon-three {
  background-image: url("/img/pin-2.svg");
  background-size: 100%;
  transform: scale(1) rotate(25deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-four {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 58.9%;
  top: 7.9%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-four .tooltip {
  left: 60px;
  top: 0px;
  background-color: #78b0ae;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-four .pin-icon-four {
  background-image: url("/img/pin-2.svg");
  background-size: 100%;
  transform: scale(1) rotate(-35deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-five {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 24.3%;
  top: 83.8%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-five .tooltip {
  left: 60px;
  top: -5px;
  background-color: #78b0ae;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-five .pin-icon-five {
  background-image: url("/img/pin-2.svg");
  background-size: 100%;
  transform: scale(1) rotate(-25deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-six {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 23.3%;
  top: 83.8%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-six .tooltip {
  left: 65px;
  top: 10px;
  background-color: #78b0ae;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-six .pin-icon-six {
  background-image: url("/img/pin-2.svg");
  background-size: 100%;
  transform: scale(1) rotate(45deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-seven {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 60.2%;
  top: 38.1%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-seven .tooltip {
  right: 35px;
  top: -5px;
  background-color: #cb933c;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-seven .pin-icon-seven {
  background-image: url("/img/pin-3.svg");
  background-size: 100%;
  transform: scale(1) rotate(0);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-eight {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 75.7%;
  top: 41.2%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-eight .tooltip {
  right: 55px;
  background-color: #cb933c;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-eight .pin-icon-eight {
  background-image: url("/img/pin-3.svg");
  background-size: 100%;
  transform: scale(1) rotate(-30deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-nine {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 75.7%;
  top: 41.2%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-nine .tooltip {
  right: 45px;
  top: -5px;
  background-color: #999;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-nine .pin-icon-nine {
  background-image: url("/img/pin-1.svg");
  background-size: 100%;
  transform: scale(1) rotate(0);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-ten {
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  left: 75.7%;
  top: 41.2%;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-ten .tooltip {
  right: 65px;
  top: 5px;
  background-color: #999;
  font-family: Raleway-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px 10px;
  white-space: nowrap;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  pointer-events: auto;
}
.main-map .map-map .container-right .interactive-map .main-pin .pin-ten .pin-icon-ten {
  background-image: url("/img/pin-1.svg");
  background-size: 100%;
  transform: scale(1) rotate(30deg);
  width: 26px;
  height: 54px;
  background-repeat: no-repeat;
  background-position: 50%;
  transform-origin: bottom center;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.carousel {
  /* cell number */
}
.carousel .carousel-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px;
  margin: 10px;
}
.carousel .carousel-cell .slide-content {
  display: flex;
  align-items: center;
  bottom: 3rem;
  width: 100%;
  margin: 340px 0px 0px 0px;
}
.carousel .carousel-cell .slide-content hr {
  height: 0.225rem;
  width: 4.25rem;
  background-color: #fff;
  opacity: 100%;
}
.carousel .carousel-cell .slide-content .text {
  width: 100%;
  color: #fff;
  padding: 16px;
}
.carousel .carousel-cell .slide-content .text .head {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-family: Raleway-SemiBold, sans-serif;
}
.carousel .carousel-cell .slide-content .text h4 {
  font-family: PlayfairDisplay-Bold, serif;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: -0.03em;
}
.carousel .carousel-cell .slide-content .text .body {
  font-family: Raleway-Regular, sans-serif;
  font-size: 0.875rem;
  line-height: 1.1rem;
  font-weight: 100;
}
.carousel .carousel-cell .slide-content .button {
  margin-top: 2.25rem;
  margin-bottom: 5.25rem;
  margin-left: 4.25rem;
}
.carousel .carousel-cell .slide-content .button .button-secondary {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  border: 0.0625rem solid #fff;
  text-decoration: none;
  margin-right: 4rem;
  padding: 0.875rem 1.25rem;
}
.carousel .carousel-cell .slide-content .button .button-text {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
.carousel .carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 300px;
  font-size: 80px;
  color: white;
}
.carousel .flickity-page-dots {
  margin: 0px 0px 522px 602px !important;
  bottom: 0px !important;
}
.carousel .flickity-page-dots .dot {
  width: 20px !important;
  height: 3px !important;
  opacity: 1;
  background: rgba(52, 52, 52, 0.5);
  border: 0 solid white;
  border-radius: 0px !important;
}
.carousel .flickity-page-dots .dot.is-selected {
  background: #262633;
  border: 0 solid #262633;
}

.experience-section {
  cursor: auto;
  margin-top: 4.5rem;
  position: relative;
}
.experience-section .experience-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0px 1.25px 0px 1.25px;
}
.experience-section .experience-header .header-text {
  position: relative;
  margin: auto;
}
.experience-section .experience-header .header-text .experience-head {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: Raleway-SemiBold, sans-serif;
}
.experience-section .experience-header .header-text h3 {
  color: #262633;
  font-size: 3.4375rem;
  font-weight: 600;
  line-height: 4.0625rem;
  letter-spacing: -0.03em;
  font-family: PlayfairDisplay-Bold, serif;
  width: 34.375rem;
}
.experience-section .experience-carousel {
  width: 100%;
  height: 500px;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  min-height: 660px;
  max-height: 660px;
  max-width: 1460px;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex .desc {
  position: relative;
  padding: 0 1.5rem 2.5rem 2.5rem;
  margin-left: auto;
  width: 40%;
  margin-top: -1rem;
  background-color: #fff;
  height: 39rem;
  left: -10rem;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex .desc hr {
  width: 0.125rem;
  height: 3.125rem;
  border: none;
  background-color: #262633;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex .desc h5 {
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1.125rem;
  font-family: PlayfairDisplay-Regular, serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex .desc .head-experience {
  margin-top: 1rem;
  color: #262633;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex .desc .body-experience {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  font-family: Raleway-Regular, sans-serif;
  width: 387px;
  color: #262633;
}
.experience-section .experience-carousel .carousel-experience .carousel-cell-ex .img-experience {
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: auto;
  height: 100%;
  min-height: 660px;
  max-height: 660px;
  max-width: 1460px;
}
.experience-section .experience-carousel .flickity-page-dots {
  margin: 0px 0px 130px 369px !important;
  bottom: 0px !important;
}
.experience-section .experience-carousel .flickity-page-dots .dot {
  width: 20px !important;
  height: 3px !important;
  opacity: 1;
  background: rgba(52, 52, 52, 0.5);
  border: 0 solid white;
  border-radius: 0px !important;
}
.experience-section .experience-carousel .flickity-page-dots .dot.is-selected {
  background: #262633;
  border: 0 solid #262633;
}

.package-all-overs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 15rem;
}
.package-all-overs .package-all-comp1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 350px;
  height: 350px;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
}
.package-all-overs .package-all-comp1 .package-offer-text {
  position: relative;
  width: 50%;
  background-color: rgba(220, 220, 221, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding: 10rem 4.5rem 2.5rem 2.5rem;
}
.package-all-overs .package-all-comp1 .package-offer-text .heading {
  align-items: center;
  display: flex;
}
.package-all-overs .package-all-comp1 .package-offer-text .heading h5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.03em;
  font-family: PlayfairDisplay-Regular, serif;
}
.package-all-overs .package-all-comp1 .package-offer-text .heading hr {
  width: 8rem;
  right: -3rem;
  position: absolute;
  height: 0.125rem;
  border: 1px solid #262633;
}
.package-all-overs .package-all-comp1 .package-offer-text .body-small {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 1rem;
  font-family: Raleway-Regular, sans-serif;
}
.package-all-overs .package-all-comp1 .package-offer-text .find-out-more {
  display: flex;
  align-items: center;
}
.package-all-overs .package-all-comp1 .package-offer-text .find-out-more .button-link-arrow {
  text-decoration: none;
  color: #262633;
}
.package-all-overs .package-all-comp1 .package-offer-text .find-out-more .button-text {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-family: Raleway-SemiBold, sans-serif;
}
.package-all-overs .package-all-comp1 .package-offer-text .find-out-more .arrows-with-tail {
  width: 1rem;
  height: 0.5rem;
  background-size: contain;
  margin-left: 0.625rem;
}
.package-all-overs .package-all-comp1 .package-offer-text .find-out-more .arrows-with-tail--right-dark {
  background: url(img/right.svg) no-repeat;
}
.package-all-overs .package-all-comp1 .package-offer-img {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.package-all-overs .package-all-comp1 .package-offer-img img {
  width: auto;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 2s;
  position: absolute;
}
.package-all-overs .package-all-comp2 {
  height: calc(100% + 2.5rem);
  margin-top: -2.5rem;
  padding: 5.5rem 9rem 5.5rem 4.5rem;
  background-color: #262633;
  color: #fff;
  grid-column: 2;
  grid-row: 1;
}
.package-all-overs .package-all-comp2 .heading-caps {
  line-height: 0.9375rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: Raleway-SemiBold, sans-serif;
}
.package-all-overs .package-all-comp2 h3 {
  margin-bottom: 2.5rem;
  font-size: 3.4375rem;
  line-height: 4.0625rem;
  letter-spacing: -0.03em;
  font-family: PlayfairDisplay-Bold, serif;
  margin: 0;
}
.package-all-overs .package-all-comp2 .button-secondary {
  text-decoration: none;
  padding: 0.875rem 1.25rem;
  border-style: none;
  cursor: pointer;
  outline: 0;
}
.package-all-overs .package-all-comp2 .button-secondary--light {
  background-color: #262633;
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
  transition: 0.3s linear;
}
.package-all-overs .package-all-comp2 .button-text {
  font-size: 0.75rem;
  line-height: 5.125rem;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-family: Raleway-SemiBold, sans-serif;
}
.package-all-overs .package-all-comp3 {
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  max-height: 350px;
  height: 350px;
  grid-row: 2;
  grid-column: 1;
}
.package-all-overs .package-all-comp3 .package-over-text {
  padding: 10rem 4.5rem 2.5rem 2.5rem;
  position: relative;
  width: 50%;
  background-color: rgba(220, 220, 221, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.package-all-overs .package-all-comp3 .package-over-text .heading {
  align-items: unset;
  display: flex;
}
.package-all-overs .package-all-comp3 .package-over-text .heading h5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  font-family: PlayfairDisplay-Regular, serif;
  letter-spacing: -0.03em;
}
.package-all-overs .package-all-comp3 .package-over-text .heading hr {
  width: 4rem;
  left: -2rem;
  top: 8rem;
  position: absolute;
  height: 0.125rem;
  border: 1px solid #262633;
}
.package-all-overs .package-all-comp3 .package-over-text .body-small {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: Raleway-Regular, sans-serif;
}
.package-all-overs .package-all-comp3 .package-over-text .find-out-more {
  display: flex;
  align-items: center;
}
.package-all-overs .package-all-comp3 .package-over-text .find-out-more .button-link-with-arrow {
  text-decoration: none;
  color: #262633;
}
.package-all-overs .package-all-comp3 .package-over-text .find-out-more .button-text {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-family: Raleway-SemiBold, sans-serif;
}
.package-all-overs .package-all-comp3 .package-over-text .find-out-more .arrows-with-tail .arrows-with-tail--right-dark {
  width: 1rem;
  height: 0.5rem;
  background-size: contain;
  margin-left: 0.625rem;
  background: url(/img/right.svg);
  display: block;
}
.package-all-overs .package-all-comp3 .package-over-img {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.package-all-overs .package-all-comp3 .package-over-img img {
  width: auto;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 2s;
  position: absolute;
}
.package-all-overs .package-all-comp4 {
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  max-height: 350px;
  height: 350px;
  grid-row: 2;
  grid-column: 2;
}
.package-all-overs .package-all-comp4 .package-offer-text {
  padding: 10rem 4.5rem 2.5rem 2.5rem;
  position: relative;
  width: 50%;
  background-color: rgba(220, 220, 221, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.package-all-overs .package-all-comp4 .package-offer-text .heading {
  align-items: center;
  display: flex;
}
.package-all-overs .package-all-comp4 .package-offer-text .heading h5 {
  font-size: 2rem;
  line-height: 2rem;
  font-family: PlayfairDisplay-Regular, serif;
  font-weight: 400;
  letter-spacing: -0.03em;
}
.package-all-overs .package-all-comp4 .package-offer-text .heading hr {
  width: 4rem;
  left: -2rem;
  top: 8rem;
  position: absolute;
  height: 0.125rem;
  border: 1px solid #262633;
  right: -2.5rem;
}
.package-all-overs .package-all-comp4 .package-offer-text .body-small {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: Raleway-Regular, sans-serif;
}
.package-all-overs .package-all-comp4 .package-offer-text .find-out-more {
  display: flex;
  align-items: center;
}
.package-all-overs .package-all-comp4 .package-offer-text .find-out-more .button-link-with-arrow {
  text-decoration: none;
  color: #262633;
}
.package-all-overs .package-all-comp4 .package-offer-text .find-out-more .button-text {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  font-family: Raleway-SemiBold, sans-serif;
}
.package-all-overs .package-all-comp4 .package-offer-text .find-out-more .arrows-with-tail .arrows-with-tail--right-dark {
  width: 1rem;
  height: 0.5rem;
  background-size: contain;
  margin-left: 0.625rem;
  background: url(/img/right.svg);
}
.package-all-overs .package-all-comp4 .package-offer-img {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.package-all-overs .package-all-comp4 .package-offer-img img {
  width: auto;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 2s;
  position: absolute;
}/*# sourceMappingURL=style.css.map */